.about-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    background-color: #faf6f2;
    padding: 80px;
}
.about-slogan {
    text-align: center;
    margin: 50px;
    font-size: 50px;
    font-family: 'Allan', serif;
    font-weight: 700;
    color: #827d7c;
    letter-spacing: 3px;
}

.about-section1, .about-section2, .about-section3 {
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: auto;
    justify-content: space-between;
}
.about-text, .about-pic {
    max-width: 280px;
    width: 100%;
    padding: 30px;
    display: flex;
    margin: auto;
    color: #81827C;
    font-size: 18px;
    letter-spacing: 2px;  
    line-height: 26px;
    box-sizing: border-box;
}

.about-border {
    width: 1px;
    background-color: #9da976;
    margin: 0 20px;
}
@media screen and (max-width: 768px){
    .about-wrap {
        margin-top: 0;
    }
    .about-slogan {
        font-size: 2rem;
        margin: 0 0 20px 0;
    }
    .about-section2 {
        flex-direction: column;
    }
    .about-section1, .about-section3 {
        flex-direction: column-reverse;

    }
    .about-border {
        display: none;
    }
    .about-text, .about-pic {
        padding: 25px 0;
    }
}
