.faq_wrap {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
    color: #504d4d;
}
.faq_content { 
    width: 900px;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    color: #767676;
}
.faq_content .qa {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.qa label {
    cursor: pointer;
}
.qa button {
    border: none;
    background-color: #EEEAE6;
    color: #CEB9A4;
    font-size: 24px;
    font-weight: 700;
}

.faq_content .q {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: baseline;
    font-size: 18px;
    background-color: #EEEAE6;
    margin: 30px 0;
    border-radius: 4px;
}
.faq_content .a {
    padding: 14px 20px;
    line-height: 26px;
    font-size: 18px;
    display: none;
}
.showAnswer {
    display: block;
}
@media screen and (max-width: 768px) {
    .faq_content {
        margin-top: 50px;
    }
    .qa button {
        font-size: 5vw;
        align-items: center;
    }
    .faq_content .q {
        font-size: 3vw;
        align-items: center;
        line-height: 6vw;
    }
    .faq_content .a {
        font-size: 3vw;
    }
    .faq_content .qa {
        margin: 0 30px;
    }
}
