.header {
    position: relative;
    display: flex;
}
.coupon {
    text-align: center;
    font-size: 16px;
    background-color: #CEB9A4;
    padding: 6px;
    color: white;
    width: 100%;
    margin: 0 auto;

}
i {
    padding-left: 10px;
}
.coupon a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-left: 5px;
}
.coupon a:hover {
    color: #867E7E;
}
.scroll-menu-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 999;  
}
.scroll-menu {
    display: flex;
    width: 1200px;
    height: 100px;
    background-color: white; 
    justify-content: space-around;
    margin: auto;
    z-index: 9999;
    
}
.scroll-menu img {
    display: block;
    padding: 0 10px 10px 10px; 
    height: 100%;
}
.scroll-menu .list {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.scroll-menu nav ul {
    display: inline-block;
    margin-left: 10px;
}
.scroll-menu ul li {
    display: inline-block;
    padding: 0 10px;
}
.scroll-menu .list a{
    text-decoration: none;
    font-size: 18px;
    color: #504d4d;
}
.scroll-menu .icon{
    display: flex;
    align-items: center;   
}
.icon i{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.faq_wrap {
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-bottom: 100px;
    color: #504d4d;
}
.faq_content { 
    width: 900px;
    height: auto;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
}
.faq_content .qa {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
}
.qa label {
    cursor: pointer;
}
.qa button {
    border: none;
    background-color: #EEEAE6;
    color: #CEB9A4;
    font-size: 24px;
    font-weight: 700;
}

.faq_content .q {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: baseline;
    font-size: 18px;
    background-color: #EEEAE6;
    margin: 30px 0;
    border-radius: 4px;
}
.faq_content .a {
    padding: 14px 20px;
    line-height: 26px;
    font-size: 18px;
    display: none;
}
.showAnswer {
    display: block;
}
@media screen and (max-width: 768px) {
    .qa button {
        font-size: 5vw;
        align-items: center;

    }
    .faq_content .q {
        font-size: 3vw;
        align-items: center;
        line-height: 6vw;
    }
    .faq_content .a {
        font-size: 3vw;

    }
    .faq_content .qa {
        margin: 0 30px;
    }

    
}


.footer {
    background-color: #CEB9A4;
    position: relative;
    width: auto;
}
.footer h3{
    font-weight: 700;
    font-size: 20px;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: rgb(102, 99, 99)
}
.footer-container {
    width: auto;
    height: 350px;
    background-color: #CEB9A4;
    display: flex;
    width: auto;
    margin: auto;
    align-items: center;
    line-height: 30px;
    color: white;
    font-size: 16px;
    justify-content: space-around;
}
.subscribe {
    width: 32%;
    height: 230px;
    margin: 0 6%;
}
.subscribe input {
    border: none;
}
.subscribe input::placeholder{
    color: #989797;
}
.subscribe .email-box {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 6px 8px;
    margin: 8px 0;
    width: 100%;
}
.email-box button {
    border: none;
    background: white;
    font-weight: 700;
}
.about-follow{
    width: 20%;
    height: 230px;
    box-sizing: border-box;
    padding-left: 50px;
}
.about-us{
    padding-bottom: 20px;
}
.about-us a{
    text-decoration: none;
}

.follow{
    padding-top: 20px;
}
.follow i{
    font-size: 30px;
}

.service{
    width: 20%;
    height: 230px;
}
.service a {
    text-decoration: none;
}
.contact{
    width: 23%;
    height: 230px;
    padding-left: 20px;
    margin: 0 6% 0 0;
}
.copy-right {
    text-align: center;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
}