@import url('https://fonts.googleapis.com/css?family=Alex Brush');

.body {
    position: relative;
}
.coupon {
    text-align: center;
    font-size: 16px;
    background-color: #CEB9A4;
    padding: 6px;
    color: white;
    width: 100%;
    margin: auto;
    position: fixed;
    z-index: 999;
}
i {
    padding-left: 10px;
}
.coupon a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-left: 5px;
}
.coupon a:hover {
    color: #867E7E;
}
.header {
    background-image: url(../picture/pexels-thevibrantmachine-3066868\ 1.png);
    background-size: cover;
    background-position: center;
    height: 950px;
    display: flex;
    flex-direction: column;
}
.header .logo-icon {
    display: flex;   
    margin: 20px auto;
}
.logo-icon .logo{
    display: flex;
    align-items: center;
    margin-left: 450px; 
}
.logo-icon .logo img{
    width: 100%;
}
.logo-icon .icon{
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-top: 30px;
}
.header .list {
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
}
.header .banner-slogan {
    font-size: 60px;
    font-family: 'Alex Brush', cursive;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 3px;
    line-height: 100px;
    margin-left: 130px;
    margin-top: 150px;
}

.banner-slogan .bottom {
    margin-left: 200px;
}

.header .list nav ul li {
    display: inline-block;
    padding: 0 25px;
}

.header .list nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
@media screen and (max-width: 768px) {
    .coupon, .coupon a {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        height: 90vh;
        background-image: url(../picture/banner_small.png);
        background-size: cover;
        background-position: center;
    }
    .header .banner-slogan {
        margin-left: 10%;
        margin-top: 30%;
        font-size: 2.5rem;
        line-height: 5rem;
    }
    .banner-slogan .bottom {
        margin-left: 15%;
    }
    .header nav {
        display: none;
    }
    .logo-icon .icon {
        display: none;
    }
    .logo-icon .logo{
        display: none;
    }
    .svg-container {
        display: none;
    }
    
}
.banner img {
    width: 100%; 
}
#scroll {
    display: none;
}

.scroll-menu-container {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    position: relative;
}
.scroll-menu {
    display: flex;
    position: fixed;
    top: 28px;
    width: 100%;
    height: 100px;
    background-color: white; 
    justify-content: space-between;
    z-index: 9999;
}
.scroll-menu img {
    margin: 0 10px 10px 6%; 
}
.scroll-menu .list {
    display: flex;
    align-items: center;
}
.scroll-menu nav ul {
    display: inline-block;
    margin-left: 10px;
}
.scroll-menu ul li {
    display: inline-block;
    padding: 0 10px;
}
.scroll-menu .list a{
    text-decoration: none;
    font-size: 18px;
    color: #504d4d;
}
.scroll-menu .icon{
    display: flex;
    align-items: center;   
    margin-right: 6%;
}
.icon i{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}
.news-wrap {
    max-width: 1920px;
    height: 900px; 
    display: flex;
    margin: auto;
    justify-content: center;
}
.news-container {
    width: 1200px;
}
.news {
    position: relative;
    width: 1200px;
    top: 30px;
}
.news .pic {
    position: absolute;
    margin: 10px 0 0 0;
}
.news .title{  
    margin: 60px 0 0 0;
    color: #A79E9E;
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 6px;
}
.content {
    display: flex;
    position: absolute;
    margin: 130px 0;
    width: 1200px;
    justify-content: center; 
}
.photo-slogan {
    position: relative;
    max-width: 400px;
    margin: 0 30px;
}

.photo {
    max-width: 400px;
}
.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}
.slogan {
    max-width: 125px;
    max-height: 140px;
    background-color: #F2A131;
    color: white;
    font-family: 'Allerta', sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 7%;
    line-height: 130%;
    text-align: center;
    position: absolute;
    top: 65%;
    left: 65%;
}
.introduce {
    width: 490px;
    height: 400px;
    position: relative;
    margin: 60px 0 0 100px;
}
.introduce h2 {
    color: #A79E9E;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 6.4px;
    height: 50px;
}

.introduce p {
    color: #A79E9E;
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
}
.button-link {
    text-decoration: none;
    color: #A79E9E;
    font-size: 24px;
    padding: 15px 0;
    border: #867E7E;
    position: absolute;
    right: 0px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .article {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: center; 
        box-sizing: border-box;
    }
    .news-wrap {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .news-container {
        width: 100%;
    }
    .news {
        width: 100%;
        top: 1px0;
    }
    .news .title {
        font-size: 3rem;
        margin: 40px 0 0 100px;
    }
    .news .pic {
        margin: 5px 0 0 100px;
    }
    .news img {
        width: 11rem;
    }

    .content {
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 100px;
    }
    .introduce {
        margin: 80px 0;
        width: auto;
        padding: 0 30px;
    }
    .introduce h2 {
        text-align: center;
        font-size: 4vw;
    }
    .introduce p {
        font-size: 4vw;
    }
    .button-link {
        margin-right: 30px;
        font-size: 4vw;
    }
    .slogan {
        font-size: 5vw;
        line-height: 150%;
        padding: 7%;
    }

}
@media screen and (max-width: 414px) {
    .slogan {
        font-size: 6vw;
        line-height: 170%;
        padding: 5%;
    }
}


.hot-sale-wrap {
    max-width: 1920px;
    height: 900px; 
    display: flex;
    margin: auto;
    justify-content: center;
}
.svg-container {
    position: absolute; 
    z-index: -1; 
}
.items-wrap {
    display: flex;
    flex-direction: column;
}
.hot-sale {
    position: relative;
    width: 1200px;
    top: 30px;
}
.hot-sale .pic {
    position: absolute;
    margin: 80px 0 80px 10px;
    width: 100%;
}
.hot-sale .title {  
    margin: 80px 0 0 0;
    color: #A79E9E;
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 6px;
}
.items-container {
    display: flex;
    width: 100%;
    margin: 150px auto 50px auto;
}
.hot-sale-items {
    display: flex;
}
.irregular1, .irregular2, .irregular3, .irregular4 {
    max-width: 300px;
    height: 300px;
    background-color: #b78484;
    border-radius: 50% 70% 40% 50%/50% 25% 50% 20%;
    margin: 0 20px;
    transition: .5s ease;
    width: 100%;
}
.irregular1 img, .irregular2 img, .irregular3 img, .irregular4 img {
    margin-top: 150px;
    margin-left: 180px;
}
.hot-sale-items h2 a {
    display: block;
    text-decoration: none;
    color: #504d4d;
    padding: 30px;
    font-weight: 700;
    text-align: center;
}
.hot-sale-items p {
    text-align: center;
}

.hot-sale-items span.old {
    text-decoration: line-through;
    padding-right: 20px;
    color: #797373;
}
.irregular1{
    background-image: url(../picture/山林木屋蠟燭_紅雪松.png);
}
.irregular2{
    background-image: url(../picture/旅人蠟燭_菸草.png);
    background-size: cover;
    background-position: bottom;
}
.irregular3{
    background-image: url(../picture/夢想系列_苦橙佛手柑.png);
    background-size: cover;
    background-position: center;
}
.irregular4{
    background-image: url(../picture/午夜星空蠟燭_茉莉.png);
    background-size: cover;
    background-position: bottom;
}

.irregular1:hover,
.irregular2:hover,
.irregular3:hover,
.irregular4:hover {
    background-color: #9a7d7d;
    border-radius: 50% 20% 60% 20%/30% 70% 20% 60%;
}

@media screen and (max-width: 768px){
    .hot-sale-wrap {
        background-color: #EEEAE6;
        width: 100%;
        margin-top: 65rem;
        height: 700px;
    }
    .hot-sale {
        width: 100%;
    }
    .hot-sale .title {
        font-size: 3rem;
        margin: 40px 0 0 60px;
    }
    .hot-sale .pic {
        margin: 40px 0 0 100px;
    }
    .hot-sale img {
        width: 15rem;
    }
    .items-wrap, .hot-sale {
        width: 100%;
        vertical-align: middle;
    }
    .hot-sale-items {
        display: flex;
        width: 1300px;
    }
    .hot-sale-items h2 a {
        font-size: 1rem;
    }
    .hot-sale-items p {
        font-size: 1rem;
    }
    #sliderBoard {
        width: 330px;
        overflow: hidden;
        margin: 100px auto 0 auto;
    }
    #content{ 		/* ul */
        position: relative;
    }
    #content li{ 	/* li */
        float: left;
    }
    #contentButton{
        width: 100%;
        height: 50px;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    #contentButton li{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ccc;
        display: inline-block;
        margin: 8px;
    }
    #contentButton li.clicked{
        background-color: #666;
    }
}



.about-wrap {
    max-width: 1920px;
    height: 900px; 
    display: flex;
    margin: auto;
    justify-content: center;
}
.svg-container {
    position: absolute;  
    height: auto;
}
.about {
    position: relative;
    width: 1200px;
    top: 30px
}
.about .pic {
    position: absolute;
    margin: 75px 0 0 30px;
    width: 100%; 
}
.about .title{  
    margin: 80px 0 0 0;
    color: #A79E9E;
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 6px;
}
.section {
    position: absolute;
    display: flex;
    margin: 15px 0;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 10px;
    width: 900px;
    margin: 250px 0 15px 0;
}
.section .text-area {
    max-width: 600px;
    width: 100%;
    height: auto;
    background-color: #A79E9E;  
}
.section p {
    font-size: 20px;
    color: white;
    line-height: 35px;
    padding: 40px 60px;
}
.section .pic {
    width: 270px;
    height: 250px;
}
.section img {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }
    .about-wrap {
        height: 1200px;
    }
    .about {
        width: 100%;
    }
    .about .title {
        font-size: 3rem;
    }
    .about img {
        width: 15rem;
    }
    .section .text-area {
        margin: 20px;
        height: auto;
        box-sizing: border-box;
        padding: 40px;
        width: 90%;
    }
    .section p {
        padding: 0;
    }
    .section img:first-child {
        order: -1;
    }
    
}

.quality-wrap {
    max-width: 1920px;
    height: 900px; 
    display: flex;
    margin: 0 auto 150px auto;
    justify-content: center;
}
.quality {
    position: relative;
    width: 1200px;
    top: 40px;
}
.quality .pic {
    position: absolute;
    margin: 70px 0 0 0;  
}
.quality .title{  
    margin: 70px 0 0 20px;
    color: #A79E9E;
    font-family: 'Alex Brush', cursive;
    font-size: 64px;
    font-weight: 800;
    letter-spacing: 6px;
}
.card-wrap{
    display: flex;
    width: 1000px;
    position: absolute;
    margin-top: 250px;  
    justify-content: center;
}
.card{
    height: 550px;
    padding: 30px;
    margin: 30px;
    background-color: #A5835E;
    background-image: url(../picture/wood-pattern.png);
    border-radius: 10px;
}

.card h2 {
    font-size: 26px;
    color: white;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
    padding: 10px 0;
}
.card p {
    font-size: 20px;
    color: white;
    line-height: 30px;
    padding: 0 30px;
}
.card img { 
    width:269px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .quality-wrap {
        height: 1200px;
        width: 100%;
        margin-top: 500px;
        margin-bottom: 230%;
    }
    .quality {
        width: 100%;
    }
    .quality .title {
        font-size: 3rem;
        margin: 60px 0 0 80px;
    }
    .quality img {
        width: 15rem;
        margin-left: 100px;
    }
    .card-wrap {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 80%;
        margin: 30px;
        box-sizing: border-box;
        height: auto;
    }
    .card h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card p {
        font-size: 1rem;
        padding: 1rem;
        padding: 10px;
    }
    .card img {
        width: 100%;
    }
}