.header {
    position: relative;
    display: flex;
}
.coupon {
    text-align: center;
    font-size: 16px;
    background-color: #CEB9A4;
    padding: 6px;
    color: white;
    width: 100%;
    margin: 0 auto;

}
i {
    padding-left: 10px;
}
.coupon a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding-left: 5px;
}
.coupon a:hover {
    color: #867E7E;
}
.scroll-menu-container {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 999;  
}
.scroll-menu {
    display: flex;
    width: 1200px;
    height: 100px;
    background-color: white; 
    justify-content: space-around;
    margin: auto;
    z-index: 9999;
    
}
.scroll-menu img {
    display: block;
    padding: 0 10px 10px 10px; 
    height: 100%;
}
.scroll-menu .list {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.scroll-menu nav ul {
    display: inline-block;
    margin-left: 10px;
}
.scroll-menu ul li {
    display: inline-block;
    padding: 0 10px;
}
.scroll-menu .list a{
    text-decoration: none;
    font-size: 18px;
    color: #504d4d;
}
.scroll-menu .icon{
    display: flex;
    align-items: center;   
}
.icon i{
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

@media screen and (max-width: 768px) {
    .header {
        display: none;
    }
    }

.products-main .container {
    box-sizing: border-box;
    width: 100%; 
}
.products-main .row {
    box-sizing: border-box;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    width: 1150px;
}
.card {
    width: 320px;
    height: 450px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    font-size: 18px;
    text-align: center;
    color: #504d4d;
}
.card img {
    display: block;
    width: 242px;
    height: 280px;
}
.card img.small {
    position: absolute;
    width: 130px;
    height: 170px;
    top: 150px;
    left: 180px;
}
.card a {
    display: block;
    text-decoration: none;
    color: #504d4d;
    padding: 30px;
    font-weight: 700;
    font-family: 'Noto Serif TC', serif;
}
.card span.old {
    text-decoration: line-through;
    padding-right: 20px;
    color: #797373;
}

@media screen and (max-width: 786px) {
    .products-main .row {
        width: 400px;
    }
    .products-main .container {
        width: 100%;

    }
    .product-wrap {
        width: 300px;

    }

    .card img {
        max-width: 100%; 
        height: auto;
        display: block;
    }
}


.footer {
    background-color: #CEB9A4;
    position: relative;
    width: auto;
}
.footer h3{
    font-weight: 700;
    font-size: 20px;
}
.footer a{
    color: white;
}
.footer a:hover{
    color: rgb(102, 99, 99)
}
.footer-container {
    width: auto;
    height: 350px;
    background-color: #CEB9A4;
    display: flex;
    width: auto;
    margin: auto;
    align-items: center;
    line-height: 30px;
    color: white;
    font-size: 16px;
    justify-content: space-around;
}
.subscribe {
    width: 32%;
    height: 230px;
    margin: 0 6%;
}
.subscribe input {
    border: none;
}
.subscribe input::placeholder{
    color: #989797;
}
.subscribe .email-box {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 6px 8px;
    margin: 8px 0;
    width: 100%;
}
.email-box button {
    border: none;
    background: white;
    font-weight: 700;
}
.about-follow{
    width: 20%;
    height: 230px;
    box-sizing: border-box;
    padding-left: 50px;
}
.about-us{
    padding-bottom: 20px;
}
.about-us a{
    text-decoration: none;
}

.follow{
    padding-top: 20px;
}
.follow i{
    font-size: 30px;
}

.service{
    width: 20%;
    height: 230px;
}
.service a {
    text-decoration: none;
}
.contact{
    width: 23%;
    height: 230px;
    padding-left: 20px;
    margin: 0 6% 0 0;
}
.copy-right {
    text-align: center;
    padding-bottom: 10px;
    color: white;
    font-size: 14px;
}